---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead title="Redirecting..." description="Redirecting to blog" />
    <script>
      window.location.href = '/blog';
    </script>
  </head>
  <body>
    <p>Redirecting to blog...</p>
  </body>
</html>